@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
/*fonts*/
/*colors*/
.navbar {
  -webkit-box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9) !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1020;
}

.navbar .navbar-brand {
  width: 12rem;
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: 50%;
  }
}

.navbar .navbar-brand img {
  width: 100%;
}

.navbar ul li a {
  font-size: 1.2rem;
}

.navbar .lang-switcher {
  margin: 0 2rem;
}

@media (max-width: 768px) {
  .navbar .lang-switcher {
    margin: 1rem 0 0 0;
  }
}

.navbar .lang-switcher .lang-btn {
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  background-color: #a5a5a5;
  color: #f2f2f2;
  padding: .5rem;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-top: .3rem;
}

.navbar .theme-switcher {
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .navbar .theme-switcher {
    margin: 1rem 0 1rem 0;
  }
}

.navbar .theme-switcher .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.navbar .theme-switcher .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.navbar .theme-switcher .switch input:checked + .slider {
  background-color: #1B72BA;
}

.navbar .theme-switcher .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #1B72BA;
          box-shadow: 0 0 1px #1B72BA;
}

.navbar .theme-switcher .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.navbar .theme-switcher .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .theme-switcher .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .theme-switcher .switch .slider.round {
  border-radius: 34px;
}

.navbar .theme-switcher .switch .slider.round:before {
  border-radius: 50%;
}

.navbar .theme-switcher .theme-icon {
  opacity: .5;
}

.navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .cur-lang {
  background: #1B72BA !important;
}

.first-screen {
  height: 100vh;
  background: url("../../img/bg-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0;
  -webkit-box-shadow: inset 3000px 3000px rgba(255, 255, 255, 0.2);
          box-shadow: inset 3000px 3000px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

@media (max-width: 768px) {
  .first-screen {
    -webkit-box-shadow: inset 3000px 3000px rgba(255, 255, 255, 0.6);
            box-shadow: inset 3000px 3000px rgba(255, 255, 255, 0.6);
  }
}

.first-screen .main-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10% 5%;
}

@media (max-width: 768px) {
  .first-screen .main-content-wrapper {
    padding: 25% 5%;
  }
}

.first-screen .main-content-wrapper img {
  width: 100%;
}

.first-screen .main-content-wrapper #header-web-d {
  text-align: left;
  -webkit-animation: fill 1s ease forwards 3s;
          animation: fill 1s ease forwards 3s;
}

@media (max-width: 768px) {
  .first-screen .main-content-wrapper #header-web-d {
    width: 100%;
  }
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(1) {
  stroke-dasharray: 544px;
  stroke-dashoffset: 544px;
  -webkit-animation: header-anim 1s ease forwards;
          animation: header-anim 1s ease forwards;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(2) {
  stroke-dasharray: 439px;
  stroke-dashoffset: 439px;
  -webkit-animation: header-anim 1s ease forwards .2s;
          animation: header-anim 1s ease forwards .2s;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(3) {
  stroke-dasharray: 519px;
  stroke-dashoffset: 519px;
  -webkit-animation: header-anim 1s ease forwards .4s;
          animation: header-anim 1s ease forwards .4s;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(4) {
  stroke-dasharray: 462px;
  stroke-dashoffset: 462px;
  -webkit-animation: header-anim 1s ease forwards .8s;
          animation: header-anim 1s ease forwards .8s;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(5) {
  stroke-dasharray: 439px;
  stroke-dashoffset: 439px;
  -webkit-animation: header-anim 1s ease forwards 1.1s;
          animation: header-anim 1s ease forwards 1.1s;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(6) {
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  -webkit-animation: header-anim 1s ease forwards 1.3s;
          animation: header-anim 1s ease forwards 1.3s;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(7) {
  stroke-dasharray: 187px;
  stroke-dashoffset: 187px;
  -webkit-animation: header-anim 1s ease forwards 1.6s;
          animation: header-anim 1s ease forwards 1.6s;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(8) {
  stroke-dasharray: 472px;
  stroke-dashoffset: 472px;
  -webkit-animation: header-anim 1s ease forwards 1.8s;
          animation: header-anim 1s ease forwards 1.8s;
}

.first-screen .main-content-wrapper #header-web-d path:nth-child(9) {
  stroke-dasharray: 478px;
  stroke-dashoffset: 478px;
  -webkit-animation: header-anim 1s ease forwards 2s;
          animation: header-anim 1s ease forwards 2s;
}

.first-screen .main-content-wrapper .and-letter {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
  -webkit-animation: appear .4s ease forwards 3.25s;
          animation: appear .4s ease forwards 3.25s;
  opacity: 0;
}

.first-screen .main-content-wrapper h2 {
  font-family: "Rubik", sans-serif;
  font-size: 3rem;
  opacity: 0;
  -webkit-animation: appear .4s ease forwards 3.25s;
          animation: appear .4s ease forwards 3.25s;
}

@media (max-width: 768px) {
  .first-screen .main-content-wrapper h2 {
    font-size: 2rem;
  }
}

.first-screen .main-content-wrapper .short-desc {
  font-size: 1.4rem;
  -webkit-animation: appear 2s ease forwards 4s;
          animation: appear 2s ease forwards 4s;
  opacity: 0;
}

.first-screen .main-content-wrapper button {
  background-color: #02B429;
  color: #fff;
  border-radius: 30px;
  padding: .8rem 2.4rem;
  margin-top: 2rem;
  -webkit-animation: appear 1s ease forwards 5.5s;
          animation: appear 1s ease forwards 5.5s;
  opacity: 0;
  -webkit-filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
  -webkit-transition: all .25s;
  transition: all .25s;
}

.first-screen .main-content-wrapper button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .25s;
  transition: all .25s;
}

@-webkit-keyframes header-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes header-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #212529;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #212529;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-me {
  background-color: #DEDDDD;
  padding-bottom: 3rem;
}

.about-me .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .img-wrapper img {
  border-radius: 50%;
}

.about-me .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6rem 2rem 0;
}

.about-me .about-text p {
  font-size: 1.3rem;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 768px) {
  .about-me .about-text {
    padding: 1.5rem 1rem;
  }
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-header h1 {
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1rem;
  position: relative;
  z-index: 1;
  margin: 3rem auto 1rem auto;
}

.block-header h1:after {
  content: "";
  height: 10px;
  position: absolute;
  background-color: #F3C10F;
  width: 110%;
  bottom: 4px;
  left: -5%;
  z-index: -1;
}

.block-header p {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Rubik", sans-serif;
  color: #a5a5a5;
  margin-bottom: 2rem;
}

.carousel {
  max-width: 1024px;
}

.all-projects-btn {
  margin-top: 2rem;
}

.all-projects-btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-projects-btn a button {
  border-radius: 30px;
  padding: .7rem 2rem;
}

.dev-process {
  margin-top: 4rem;
  font-family: "Rubik", sans-serif;
}

.dev-process .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev-process h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.dev-process .info-text {
  position: relative;
}

.dev-process .info-text p {
  margin: 2rem 0 3rem 0;
  font-size: 1.2rem;
}

.dev-process .info-text .number {
  font-size: 24rem;
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: rgba(2, 180, 41, 0.2);
  top: 0;
  left: 30%;
  top: -60%;
  z-index: -1;
  line-height: 1;
}

@media (max-width: 768px) {
  .dev-process .info-text .number {
    top: -20%;
    left: 15%;
  }
}

.dev-process img {
  width: 60%;
  max-width: 410px;
  display: block;
  margin: 0 auto 3rem auto;
  opacity: .9;
}

@media (max-width: 768px) {
  .dev-process img {
    max-width: 50%;
  }
}

.blog .category div {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 4rem;
}

.blog .category .css {
  background-color: #1B72BA;
}

.blog .category .js {
  background-color: #F7AB18;
}

.blog .category .ui {
  background-color: #02B429;
}

.blog .category .cat-icon {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog .category .cat-icon .first-line {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 2.6rem;
  font-family: var(--main-font);
  font-weight: 500;
  margin-right: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog .category .cat-icon .second-line {
  position: absolute;
  right: 0;
  bottom: -3.6rem;
  font-size: 2.6rem;
  font-family: var(--main-font);
  font-weight: 300;
  margin-right: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: block;
  pointer-events: none;
}

.blog .category .cat-icon:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.blog .category .cat-icon:hover .first-line {
  bottom: 30%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog .category .cat-icon:hover .second-line {
  bottom: 10%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog .blog-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

.blog .blog-btn button {
  border-radius: 32px;
  padding: .7rem 2rem;
}

.my-contacts .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-contacts .contact-links .contact-link-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #444444;
  margin-top: 1rem;
}

.my-contacts .contact-links .contact-link-wrapper a p {
  text-align: center;
  margin-top: .7rem;
  font-family: var(--main-font);
}

.my-contacts .contact-links .contact-link-wrapper .contact-link-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.my-contacts .contact-links .contact-link-wrapper .contact-link-icon img {
  height: 3rem;
}

.my-contacts .contact-links .contact-link-wrapper .contact-link-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.my-contacts .contact-links .contact-link-wrapper .phone {
  background-color: #02B429;
  padding-left: .5rem;
}

.my-contacts .contact-links .contact-link-wrapper .viber {
  background-color: #583EB5;
}

.my-contacts .contact-links .contact-link-wrapper .telegram {
  background-color: #33ABE0;
}

.my-contacts .contact-links .contact-link-wrapper .whatsapp {
  background-color: #20CB42;
}

.my-contacts .contact-links .contact-link-wrapper .skype {
  background-color: #00b5eb;
}

.my-contacts .contact-links .contact-link-wrapper .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.dark-bg {
  background: #0D1117 !important;
}

.dark-nav {
  background-color: rgba(13, 17, 23, 0.7) !important;
}

.dark-nav .navbar-toggler {
  color: rgba(255, 255, 255, 0.55) !important;
  border-color: rgba(255, 255, 255, 0.3) !important;
}

.dark-nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28233, 233, 233, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.dark-nav ul li a {
  color: #f2f2f2 !important;
}

.dark-nav .theme-icon {
  stroke: #c4c4c4 !important;
  opacity: 1 !important;
}

.dark-first-screen {
  background: url("/img/bg-dark.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  -webkit-box-shadow: inset 3000px 3000px rgba(0, 0, 0, 0.2) !important;
          box-shadow: inset 3000px 3000px rgba(0, 0, 0, 0.2) !important;
}

.dark-first-screen .animated-header svg path {
  stroke: #c4c4c4;
}

.dark-first-screen p {
  color: #c4c4c4;
}

.dark-first-screen h2 {
  color: #c4c4c4;
}

.dark-about-me {
  background-color: #00325B !important;
  color: #f2f2f2 !important;
}

.dark-about-me h1 {
  color: #f2f2f2 !important;
}

.dark-about-me h1:after {
  background-color: #1B72BA !important;
}

.dark-portfolio h1 {
  color: #f2f2f2 !important;
}

.dark-portfolio h1:after {
  background-color: #1B72BA !important;
}

.dark-portfolio .prjcts-btn {
  border: 1px solid #F3C10F !important;
  color: #F3C10F !important;
}

.dark-portfolio .prjcts-btn:hover {
  background: #1B72BA !important;
  color: #f2f2f2 !important;
  border: 1px solid #1B72BA !important;
}

.dark-dev h1 {
  color: #f2f2f2 !important;
}

.dark-dev h1:after {
  background-color: #1B72BA !important;
}

.dark-dev .info-text p, .dark-dev .info-text h2 {
  color: #f2f2f2 !important;
}

.dark-dev .info-text .number {
  color: rgba(44, 130, 201, 0.3) !important;
}

.dark-dev img {
  opacity: .8;
}

.dark-blog h1 {
  color: #f2f2f2 !important;
}

.dark-blog h1:after {
  background-color: #1B72BA !important;
}

.dark-blog .second-line {
  color: #f2f2f2 !important;
}

.dark-blog button {
  border: 1px solid #F3C10F !important;
  color: #F3C10F !important;
}

.dark-blog button:hover {
  background: #1B72BA !important;
  color: #f2f2f2 !important;
  border: 1px solid #1B72BA !important;
}

.dark-contacts h1 {
  color: #f2f2f2 !important;
}

.dark-contacts h1:after {
  background-color: #1B72BA !important;
}

.dark-contacts .contact-link-wrapper p {
  color: #c4c4c4;
}

.dark-contacts .contact-link-wrapper .contact-link-icon {
  opacity: .8;
}
/*# sourceMappingURL=main.css.map */