.dark-nav {
    background-color: rgba(13, 17, 23, 0.7) !important;
    .navbar-toggler {
        color: rgba(255,255,255,.55) !important;
        border-color: rgba(255,255,255,.3) !important;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28233, 233, 233, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }
    }
    ul {
        li {
            a {
                color: $main-white !important;
            }
        }
    }
    .theme-icon {
        stroke: $light-grey !important;
        opacity: 1 !important;
    }
}

.dark-first-screen {
    background: url('/img/bg-dark.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    box-shadow: inset 3000px 3000px rgba($color: #000, $alpha: .2) !important;
    .animated-header {
        svg {
            path {
                stroke: $light-grey;
                // fill: $main-white;
            }
            
        }
    }
    p {
        color: $light-grey;
    }
    h2 {
        color: $light-grey;
    }
    
}