/*font-family: 'Roboto Slab', serif;
font-family: 'Rubik', sans-serif;
*/
:root {
    /*fonts*/
    --header-font: 'Roboto Slab', serif;
    --main-font: 'Rubik', sans-serif;
    /*colors*/
    --cta-btn-green: #02B429;
    --header-underline-yellow: #F3C10F;
    --header-underline-blue: #1B72BA;
    --text-black: #121212;
    --text-white: #F2F2F2;
    --about-backgr-dark: #00325B;
    --about-backgr-light: #DEDDDD;
    --main-backgr-dark: #0D1117;
}
nav, .container, .container-fluid {
    min-width: 360px;
}
p {
    font-family: var(--main-font);
}

h1 {
    font-size: 2.2rem;
    font-family: var(--header-font);
    font-weight: 700;
    margin: 1rem;
    position: relative;
    z-index: 1;
    margin: 5rem auto 1.5rem auto;
    
}
h1::after {
    content: "";
    height: 10px;
    position: absolute;
    background-color: var(--header-yellow);
    width: 100%;
    bottom: 5px;
    left: 0;
    z-index: -1;
}
.desc {
    text-align: center;
    display: block;
    margin: 0 auto 2rem auto;
    font-weight: 300;
    color: #777;
    padding: 0 1rem;
}
h2 {
    font-family: var(--main-font);
    font-size: 1.4rem;
    font-weight: 500;
}
.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
   
}
.navbar-brand img {
    height: 2.6rem;
}
.navbar .nav-item {
    font-size: 1.2rem;
}
.collapse {
    justify-content: flex-end;
}
.navbar-nav {
    margin-right: 4rem;
}

/*language selector*/
.navbar .lang-select {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .lang-select div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: 1rem;
    margin-right: .5rem;
    cursor: pointer;
}
.navbar .lang-select div:hover {
    background-color: #003ab852;
    color: var(--text-white);
}
.selected-lang {
    background-color: var(--header-underline-blue);
    font-weight: 500;
    color: var(--text-white);
}

.first-screen {
    display: flex;
    height: 100vh;
    align-items: center;
    background: url('/src/img/first-screen-light-bg-1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.first-screen .jumbotron {
    background: none;
}
.first-screen .jumbotron h1 {
    background-color: var(--header-yellow);
    padding: .9rem;
    font-family: var(--header-font);
    font-weight: 700;
    color: #121212;
    font-size: 2rem;
    padding-right: 3rem;
}
.first-screen .jumbotron h1 .txt-rotate {
    color: #444;
    font-size: 3rem;
    font-weight: 500;
}
.first-screen .jumbotron p.lead {
    color: #444444;
    font-size: 1.1rem;
    font-family: var(--main-font);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.first-screen .jumbotron .btn {
    margin-bottom: 2rem;
}
.about {
    background-color: #DEDDDD;
    justify-content: center;
}
.about .about-header {
    justify-content: center;
} 

.about img {
    border-radius: 50%;
    margin: 2rem;
       
}
.about .about-text, .about .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .about-text {
    font-size: 1.2rem;
    padding: 0 3rem 2rem 2rem;
}
.portfolio .carousel {
    width: 100%;
}
.portfolio a[href="projects.html"] {
    display: block;
    margin: 2rem auto 3rem auto;
}
.dev-process .info-text {
    position: relative;

}
.dev-process .row {
    align-items: center;
}
.dev-process .info-text p {
    margin: 2rem 0 3rem 0;
    font-size: 1.2rem;
}
.dev-process img {
    width: 100%;
    max-width: 410px;
    display: block;
    margin: 0 auto 3rem auto;
}
.dev-process .info-text .number {
    font-size: 16rem;
    position: absolute;
    font-family: var(--main-font);
    font-weight: 500;
    color: rgba(2, 180, 41, 0.2);
    top: 0;
    left: 30%;
    margin-top: -10%;
    z-index: -1;
}
.blog .category div {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
    position: relative;
    margin-bottom: 4rem;
} 
.blog .category .css{
    background-color: #1B72BA;
}
.blog .category .js {
    background-color: #F7AB18;
}
.blog .category .ui {
    background-color: #02B429;
}
.blog .category .cat-icon .first-line {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 2.6rem;
    font-family: var(--main-font);
    font-weight: 500;
    margin-right: 1rem;
    transition: all .2s;
}
.blog .category .cat-icon .second-line {
    position: absolute;
    right: 0;
    bottom: -3.6rem;
    font-size: 2.6rem;
    font-family: var(--main-font);
    font-weight: 300;
    margin-right: 1rem;
    transition: all .2s;
    display: block;
    pointer-events: none;
}
.blog .category .cat-icon {
    /*opacity: 0.8;*/
    filter: grayscale(60%);
    cursor: pointer;
    transition: all .2s;
}
.blog .category .cat-icon:hover {
    transition: all .2s;
    filter: grayscale(0%);
}
.blog .category .cat-icon:hover .first-line {
    bottom: 30%;
    transition: all .2s;
}
.blog .category .cat-icon:hover .second-line {
    bottom: 10%;
    transition: all .2s;
    
}
.blog .blog-btn {
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.my-contacts .contact-links {
    justify-content: space-around;
    align-items: flex-start;
}
.my-contacts .contact-links .contact-link-wrapper a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #444444;
    margin-top: 1rem;
}

.my-contacts .contact-links .contact-link-wrapper a p {
    text-align: center;
    margin-top: .7rem;
    font-family: var(--main-font);
}
.my-contacts .contact-links .contact-link-wrapper .contact-link-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
.my-contacts .contact-links .contact-link-wrapper .contact-link-icon:hover {
    transform: scale(1.1);
    transition: all .2s;
}
.my-contacts .contact-links .contact-link-wrapper .contact-link-icon img {
    height: 3rem;
}
.my-contacts .contact-links .contact-link-wrapper .phone {
    background-color: #02B429;
    padding-left: .5rem;
}
.my-contacts .contact-links .contact-link-wrapper .viber {
    background-color: #583EB5;
}
.my-contacts .contact-links .contact-link-wrapper .telegram {
    background-color: #33ABE0;
}
.my-contacts .contact-links .contact-link-wrapper .whatsapp {
    background-color: #20CB42;
}
.my-contacts .contact-links .contact-link-wrapper .skype {
    background-color: #00b5eb;
}
.my-contacts .contact-links .contact-link-wrapper .instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.footer {
    background-color: #1C1C1C;
    justify-content: space-between;
}
.footer .row {
    justify-content: space-between;
}
.footer ul {
    display: flex;
    padding: 1rem;
    margin-bottom: 0;
    flex-direction: row;
}
.footer li {
    color: #DEDDDD;
    list-style-type: none;
    margin-left: 1rem;
    transition: all 0.2s;
}
.footer li:hover {
    border-bottom: 2px solid #fff;
    transition: all 0.2s;
}
.footer img {
    margin: 1rem;
}
/*width and color of carousel controls*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
.carousel-inner {
       max-width: 1200px;
   }



/*******project styles********/

.projects .prj-desc {
    margin-top: 3rem;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.projects .prj-desc > span {
    font-family: var(--header-font);
    font-weight: 700;
}
.projects .row {
    justify-content: center;
}

.projects .row h2 {
    font-size: 1.6rem;
    font-family: var(--main-font);
    font-weight: 500;
    color: #333;
    position: relative;
    margin: 3rem 2rem 3rem 2rem;
}
.projects .row h2::after {
    content: "";
    height: 10px;
    position: absolute;
    background-color: rgba(40, 167, 69, .3);
    width: 101%;
    bottom: 2px;
    left: -0.5%;
    z-index: -1;
}

.projects .mockup-img {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15), -4px -4px 5px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin-bottom: 5rem;
    transition: 0.2s;
    display: block;
}
#printDes img, #museum img {
    box-shadow: none;
}


/*accordeon styles*/
.projects .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
    max-width: 400px;
    margin: 0 auto;
  }
   
  .projects .fa-stack {
    font-size: 18px;
  }
   
  .card-header .btn {
    width: 100%;
    font-family: var(--main-font);
    color: #007bff;
    padding: 0;
    text-align: center;
  }
   
  .card-header .btn-link:hover,
  .card-header .btn-link:focus {
    text-decoration: none;
  }

  @media (min-width: 992px)  { 
    .first-screen .jumbotron h1 {
        font-size: 4rem;
    }
    
}
@media (max-width: 860px)  { 
    .footer ul {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 0;
    }
    .projects .row h2::after {
        content: "";
        height: 101%;
        position: absolute;
        background-color: rgba(40, 167, 69, .3);
        width: 101%;
        bottom: -1%;
        left: -1%;
        z-index: -1;
    }
    .first-screen .jumbotron h1 .txt-rotate {
        font-size: 1.6rem;
    }
}