.about-me {
    background-color: #DEDDDD;
    padding-bottom: 3rem;
    .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 50%;
        }
    }
    .about-text {
        
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 1.3rem;
            font-family: $main-font;
        }
        padding: 0 6rem 2rem 0;
        @include respond-to('medium') {
            padding: 1.5rem 1rem;
        }
        
    }
}