.about-me {
    .about-header {
        width: 25%;
        h1 {
            font-family: $header-font;
            font-size: 2.2rem;
            font-weight: 700;
            margin: 1rem;
            position: relative;
            z-index: 1;
            margin: 5rem auto 1.5rem auto;
            &:after {
                content: "";
                height: 10px;
                position: absolute;
                background-color: $header-yellow;
                width: 100%;
                bottom: 5px;
                left: 0;
                z-index: -1;
            }
        }
    }
    
}