.block-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        display: inline-block;
        font-family: $header-font;
        font-size: 2.2rem;
        font-weight: 700;
        margin: 1rem;
        position: relative;
        z-index: 1;
        margin: 3rem auto 1rem auto;
        
        &:after {
            content: "";
            height: 10px;
            position: absolute;
            background-color: $header-yellow;
            width: 110%;
            bottom: 4px;
            left: -5%;
            z-index: -1;
        }
    }
    p {
        text-align: center;
        font-size: 1.2rem;
        font-family: $main-font;
        color: $medium-grey;
        margin-bottom: 2rem;
    }
}