@use '../../abstracts' as *;

.about-me {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //padding: 2rem;
    background: $lightest-grey;
    @include screen-size("tab") {
       flex-direction: row;
       padding: 2rem 10%;
    }

    &__photo {
        border-radius: 50%;
    }

    &__wrapper {
        padding: 2rem;
    }

    &__heading {
        font-size: 2.2rem;
       @include main-heading;
    }

    &__text {
        margin-top: 0;
        font-size: 1.3rem;
        line-height: 1.5;
    }
}