@use 'variables' as *;

//global button
@mixin button {
    font-size: 1.1rem;
    padding: .8rem 2rem;
    border-radius: 2rem;
     border: none;
     cursor: pointer;
}

//main headings
@mixin main-heading {
  text-align: center;
  display: inline-block;
  font-family: $header-font;
  font-size: 2.2rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin: 2rem auto 1rem auto;
  
  &:after {
      content: "";
      height: 10px;
      position: absolute;
      background-color: $header-yellow;
      width: 101%;
      bottom: 4px;
      left: -1%;
      z-index: -1;
  }
}

//media queries

@mixin screen-size($breakpoint) {
    $mob-size: 360px;
    $tab-size: 768px;
    $desk-size: 1024px;
    @if $breakpoint == "mob" {
      @media (min-width: $mob-size) {
        @content;
      }
    }
  
    @else if $breakpoint == "tab" {
      @media (min-width: $tab-size) {
        @content;
      }
    }
  
    @else if $breakpoint == "desk" {
      @media (min-width: $desk-size) {
        @content;
      }
    }
  }