//fonts
$main-font: 'Rubik', sans-serif;
$header-font: 'Roboto Slab', serif;

//colors
$accent-color: #009967;
$header-yellow: #F3C10F;
$main-black: #212529;
$main-white: #f2f2f2;
$navbar-white: #eceff1;
$light-grey: #c4c4c4;
$lightest-grey: #DEDDDD;
$medium-grey: #a5a5a5;
$medium-blue: #1B72BA;
$dark-blue: #00325B;
$background-dark: #0D1117;