.header {
    height: 100vh;
    background: url("../../../images/bg-light.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 3000px 3000px rgba($color: #fff, $alpha: .2);
    overflow: hidden;
    
}