@use '../../abstracts' as *;

.lang-switcher {
    margin: 2rem .5rem 0 .5rem;
    display: flex;
    align-items: center;
    @include screen-size("desk") {
        margin: 0 1rem;
    }
    &__btn {
        border-radius: 50%;
        height: 2.4rem;
        width: 2.4rem;
        background-color: $medium-grey;
        color: $main-white;
        padding: .5rem;
        outline: none;
        border: none;
        font-size: 1.1rem;
        padding-top: .3rem;
        margin-right: .5rem;
    }
}