.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: rgba($color: $navbar-white, $alpha: .9);
    @include screen-size("desk") {
        display: flex;
        justify-content: flex-end;
        padding: .5rem;
    }
    &__logo {
        display: flex;
        align-items: center;
        margin: 0 auto 0 1rem;
        img {
           width: 100%;
           min-width: 140px;
           max-width: 190px;
        }
    }
}