.navbar {
    background-color: rgba($color: #fff, $alpha: .9);
    @include screen-size("desk") {
        display: flex;
        justify-content: flex-end;
    }
    &__logo {
        margin: 0 auto 0 0;
        img {
            width: 190px;
        }
    }
}