.start-screen {
    display: flex;
    justify-content: flex-start;
    padding: 10% 5%;
    color: $main-black;
    &__svg-animation {
        width: 100%;
        text-align: left;
        animation: fill 1s ease forwards 3s;
        @include screen-size("desk") {
            width: auto;
        }
        @include screen-size("tab") {
            width: 50%;
        }
        path {
            &:nth-child(1) {
                stroke-dasharray: 544px;
                stroke-dashoffset: 544px;
                animation: header-anim 1s ease forwards;
            }
            &:nth-child(2) {
                stroke-dasharray: 439px;
                stroke-dashoffset: 439px;
                animation: header-anim 1s ease forwards .2s;
            }
            &:nth-child(3) {
                stroke-dasharray: 519px;
                stroke-dashoffset: 519px;
                animation: header-anim 1s ease forwards .4s;
            }
            &:nth-child(4) {
                stroke-dasharray: 462px;
                stroke-dashoffset: 462px;
                animation: header-anim 1s ease forwards .8s;
            }
            &:nth-child(5) {
                stroke-dasharray: 439px;
                stroke-dashoffset: 439px;
                animation: header-anim 1s ease forwards 1.1s;
            }
            &:nth-child(6) {
                stroke-dasharray: 440px;
                stroke-dashoffset: 440px;
                animation: header-anim 1s ease forwards 1.3s;
            }
            &:nth-child(7) {
                stroke-dasharray: 187px;
                stroke-dashoffset: 187px;
                animation: header-anim 1s ease forwards 1.6s;
            }
            &:nth-child(8) {
                stroke-dasharray: 472px;
                stroke-dashoffset: 472px;
                animation: header-anim 1s ease forwards 1.8s;
            }
            &:nth-child(9) {
                stroke-dasharray: 478px;
                stroke-dashoffset: 478px;
                animation: header-anim 1s ease forwards 2s;
            }
        }
    }

    &__and-letter {
        font-family: $main-font;
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 0;
        animation: appear .4s ease forwards 3.25s;
        opacity: 0;
        @include screen-size("desk") {
            margin-top: 1rem;
        }
        @include screen-size("tab") {
            font-size: 1.6rem;
        }
    }

    &__small-heading {
        font-family: $main-font;
        font-size: 2rem;
        margin: 1rem 0;
        opacity: 0;
        animation: appear .4s ease forwards 3.25s;
        z-index: 0;
        @include screen-size("desk") {
            font-size: 2.4rem;
        }
    }

    &__description {
        font-size: 1.2rem;
        animation: appear 2s ease forwards 4s;
        opacity: 0;
        @include screen-size("desk") {
            width: 80%;
        }
    }

    &__btn {
        @include button;
        background-color: $accent-color;
        color: #fff;
        margin-top: 1rem;
        animation: appear 1s ease forwards 5.5s;
        opacity: 0;
        filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.15));
        transition: all .25s;
        &:hover {
            transform: scale(1.1);
            transition: all .25s;
        }
    }
}