@use '../../abstracts' as *;

.theme-switcher {
    display: flex;
    align-items: center;
    transform: scale(.9);
    margin-right: 2rem;
    padding: .5rem 0;
    @include screen-size("desk") {
        margin: 0 1rem;
    }

    &__switcher {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 0 .5rem;
    }

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    &__icon-dark {
        opacity: .2;
    }

    //toggle button animation
    &__checkbox:checked ~ &__switcher > &__slider {
        background-color: $medium-blue;
    }
    &__checkbox:checked ~ &__switcher > &__slider::before {
        transform: translateX(26px);
    }

    //toggle icons opacity
    &__checkbox:checked ~ &__icon-light {
        opacity: .3;
    }
    &__checkbox:checked ~ &__icon-dark {
        opacity: 1;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 2rem;
        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
    }

}